{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Job edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-large btn-default" />
    {{ form_end(edit_form) }}

    <ul class="breadcrumb">
        <li>
            <a class="btn btn-large btn-default" href="{{ path('job_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-large btn-default">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
